{
	"mysql_db": {
		"host":		"127.0.0.1",
		"database":	"qls",
		"user":		"<username>",
		"password":	"<password>"
	},
	"api": {
		"port": 3000,
		"httplogfile": "./http.log",
		"games": {
			"save": true,
			"tempdir":  "/tmp/",
			"gamesdir": "./games/"
		}
	},
  "loader": {
    "saveDownloadedJson": true,
    "importDownloadedJson": true,
    "ql_email": "your-QL-datafeed-login-email",
    "ql_pass":  "your-QL-datafeed-login-pass",
    "jsondir":  "./jsons/"
  },
	"counter": {
		"on": true,
		"path": "/tmp/ql-stats-dev.counter"
	}
}
